:root {
  --bg-width: 0%;
  /* Buttons */
  --ButtonBg: #f9d74c;
  --ButtonColor: #ffffff;

  /* Navigation bar */
  --navbackgroundDesktop: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    #f9f9ff 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
  --navbackground: #f9f9ff;
  --logoColor: #353353;
  --logoDot: #ff2442;
  --linkColor: #353353;
  --navBgMobile: #f9f9ff;

  /* Navigation bar */
  --textColorHome: #353353;
  --homeSectionBg: #ffffff;

  /* Highlight */
  --highlightColor: #3db2ff80;
}

body {
  margin: 0;
  padding: 0;
}

main {
  /* overflow-x: hidden; */
}

a.active {
  color: #f9d74c;
}

[data-theme="dark"] a.active {
  color: #f84c60;
}

[data-theme="dark"] body {
  /* Buttons */
  --ButtonBg: #f84c60;
  --ButtonColor: #ffffff;
  /* Navigation bar */
  --navbackgroundDesktop: #353353;
  --navbackground: #353353;
  --logoColor: #ffffff;
  --logoDot: #fbc108;
  --linkColor: #ffffff;
  --navBgMobile: #353353;

  /* Navigation bar */
  --textColorHome: #ffffff;
  --homeSectionBg: #353353;

  /* Highlight */
  --highlightColor: #43cfb1;
}
